* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: black; */
}
/* 
h1 { 
  color: rgba(0, 255, 64, 0.854);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

#parent {
  height: 300px;
  width: 300px;
  background-color: red;
  overflow: hidden;
}

#child {
  height: 50%;
  width: 50%;
  margin: 50px 20px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
}
#child:hover {
  background-color: greenyellow;
} */
/* 
.box1 {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box2 {
  height: 100px;
  width: 100px;
  background-color: crimson;
  border: 2px solid black;
} */
/* 
#parent {
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.child {
  background-color: aqua;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  border-radius: 900px;
} */
/* 
#parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
 
  align-items: center;
  background-color: black;
}

.child {
  background-color: gray;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin-left: 5px;
} */

main {
  height: 100%;
  width: 100%;
  background-color: #d5ff40;
}

nav {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  height: 60px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  text-decoration-style: none;
}

nav h2 {
  font-size: 20px;
  font-weight: 500;
}
nav a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 200;
  color: black;
  text-shadow: none;
}
section {
  padding: 30px 20px;
}

section .hero-text1 {
  background-color: chartreuse;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-text1 h1 {
  font-size: 190px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 300px;
  display: flex;
  align-items: flex-start;
}

/* .hero-text1 .video {
  height: 80px;
  width: 340px;
  background-color: teal;
  border-radius: 120px;
  position: relative;
  top: 80px;
}
.video .video2 {
  position: absolute;
  height: 70px;
  width: 100px;
  background-color: black;
  border-radius: 120px;
  left: 5px;
  top: 5px;
} */

.hero-text1 .video {
  height: 80px;
  width: 350px;
  background-color: black;
  border-radius: 100px;
}
