* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: bisque;
}

h1 {
  width: 100%;
  background-color: bisque;
}

div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: yellow;
}

div .inner {
  background-color: black;
  height: 40px;
  /* z-index: 1; */
  width: 40px;
  position: absolute;
  right: 50px;
}
